@import "base/variables";

//Components
@import "components/sidebar";

.top-nav {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

.book-card {
  img {
    width: 200px;
  }
  display: inline-block;
  margin: 10px 5px;
}

.top-nav-profile {
  img {
    width: 32px;
    border-radius: 50%;
  }
}
